@media only screen and (min-width: 1141px) {
/*-----BODY -----*/
	body {
		background-image: url(/images/stars.jpg);
		background-position: center;

	}

/*-----WRAPPER -----*/
	#wrapper {
		padding: 125px 0 140px 0;
		background: url(/images/sunglow.png) no-repeat center top;


	}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #888;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-bottom: 0;
	}

/*-----HEADER -----*/

	header{
		position: relative;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	header img.header-image{
		display: block;
		position: absolute;
		top: -90px;
		right: -110px;
	}
	/*--social icons--*/
	header ul.icons{
		padding-right: 65px;
	}
	header ul.icons a{
		-webkit-transition: opacity .5s ease;
		transition: opacity .5s ease;
	}
	header ul.icons a:hover{
		opacity: 1;
	}


/*-----NAVigation -----*/

	nav ul li a{
		-webkit-transition: background-color .5s ease;
		transition: background-color .5s ease;
	}

/*-----CONTENT -----*/

	#content a{
		-webkit-transition: color .6s ease;
		transition: color .6s ease;
	}
	#content ul.earth li a img{
		-webkit-transition: -webkit-transform 0.6s ease-in-out;
		transition: transform 0.6s ease-in-out;
	}
	#content ul.earth li a:hover img{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}

/*----- FOOTER -----*/
	footer{
		width: 1180px;
		margin: 0 auto;
		position: relative;
	}
	footer .left, footer .right{
		position: absolute;
		top: -20px;
		width: 20px;
		height: 20px;
		border-top: 20px solid transparent;
	}
	footer .left{
		border-right: 20px solid #956000;
	}
	footer .right{
		right: 0;
		border-left: 20px solid #956000;
		border-top: 20px solid transparent;
	}


}
