/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/*-----CONTAINER -----*/
#container {
	background-color: #ab6d00;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
header {
	background-color: #000500;
}
header hgroup{
	font-family: 'Overlock SC', cursive;
	color: #eca932;
}
header h1 {font-size: 2em;}
header h2 {font-size: 1.05em;}

/*--SOCIAL ICONS--*/
header ul.icons{
	float: right;
	padding-right: 2%;
}
header ul.icons li{
	float: left;
	margin-top: 1em;
	margin-right: .3em;
}
header ul.icons li a{
	opacity: .7;
}
header img.header-image{
	display: none;
}

/*-----NAVigation -----*/
nav {}
nav ul{
	padding: 1em 0;
}
nav ul li {
	float: left;
	width: 46%;
	margin: 0 2%;
}
nav ul li a {
	text-align: center;
	display:block;
	font-weight: 600;
	margin: .2em 0;
	padding: .6em 0;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}
nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}



/*-----CONTENT -----*/
#content {
	min-height: 5em;
	background-color: #eee;
	background-image: url(../images/soft_wallpaper.png);
	padding: .5em 2%;
}
#content h1{
	font-family: 'Overlock SC', cursive;
	color: #5b0000;
}
#content hr{
	height: 30px;
	border: none;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b0000+0,5b0000+100&1+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(91,0,0,1) 0%, rgba(91,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(91,0,0,1) 0%,rgba(91,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(91,0,0,1) 0%,rgba(91,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0000', endColorstr='#005b0000',GradientType=1 ); /* IE6-9 */
}

#content article{
	padding-bottom: 2em;
	border-bottom: dotted 2px #ccc;
}
#content article h2{
	font-weight: 600;
	font-size: 1.2em;
	padding-top: 2em;
	color: #773300;
}
#content article p{
	font-size: 1em;
	padding: .3em 0 .1em 1em;
	color: #763400;
	line-height: 1.5em;
}
#content a.top{
	background-color: #aa6d00;
	font-weight: 600;
	color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 3px;
	padding: .3em 1em;
	margin-top: .3em;
	float: right;
	text-decoration: none;
}
#content a{
	color: #5c0000;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}
#content a:hover{
	color: #000000;
	text-decoration: underline;
}

/*---scaling images---*/

#content ul.earth li{
	float:left;
	padding: 2%;
	width: 25%;
}
#content ul.earth li a img{
	width: 100%;
	border: 1px solid #fff;
}

/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1.2em 0;
	font-size: .7em;
	color: rgba(255, 255, 255, 0.5);
	background-color: #aa6d00;
}


/*----- OTHER STUFF --------*/
div.keepOpen{
	clear:both;
}
